<div class="app" style="text-align:left" ng-controller="itemCtrl">


      <div class="form-group">
        <label for="todo">Todo:</label>
        <input type="text" class="form-control ng-cloak" value="{{item.todo}}" id="todo" ng-model="item.todo">
      </div>

      <div class="form-group">
        <label for="todo">Description:</label>
        <textarea type="text" class="form-control ng-cloak" value="{{item.description}}" id="todo" ng-model="item.description"></textarea>
      </div>


      <div class="form-group">
        <label for="todo">Date:</label>
        <label class="date ng-cloak">{{item.date | date: 'dd/MMM/yyyy'}}</label>
      </div>
      <ul id="todo-list" ng-show="is_todo()">
        <li ng-repeat="item in list | filter:{finished:false}">
          <!-- <todo-list info="item"></todo-list> -->
          
          <span class="ng-cloak">{{item.description}}</span>
        </li>
        <li class="row" ng-show="list.length>0">
          <div class="col-xs-6">
            <a ng-click="achieve_chosen(list)">achieve</a>
          </div>
          <div class="col-xs-6">
            <a ng-click="delete_chosen(list)">delete </a>
          </div>
        </li>
      </ul>
      <ul id="achieved-list" ng-hide="is_todo()">
        <li ng-repeat="item in list | filter:{finished:true}" >

          <span class="ng-cloak">{{item.todo}}</span>
        </li>
      </ul>

      <a class="btn btn-default btn-lg pull-left" href="/#/">Back</a>
      <button class="btn btn-success btn-lg pull-right" ng-click="update()">Save</button>
</div>
