<div class="app" style="text-align:left" ng-controller="itemCtrl">


      <div class="form-group" ng-init="">
        <label>Todo:</label>

        <input class="form-control ng-cloak" value="{{item.todo}}" id ="input1" rows="1" id="input1">

      </div>

      <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control ng-cloak" rows="6"id="input2">{{item.description}}</textarea>
      </div>


      <div class="form-group">
        <label>Date:</label>
        <label class="date ng-cloak">{{item.date | date: 'dd/MMM/yyyy'}}</label>
      </div>



      <button class="btn btn-default btn-lg pull-left" id="back" onclick='(function(){history.go(-1);})()'>Back</button>
      <button class="btn btn-success btn-lg pull-right" ng-click="update()">Save</button>
</div>
